<div class="sub-nav">
  <div style="color: white">Views</div>
  <ul class="nav nav-pills ">
    <li class="nav-item active">
      <a class="nav-link" data-link="hour">Hour</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-link="today">Today</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-link="week">Week</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-link="mounth">Month</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-link="year">Year</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-link="alltime">All time</a>
    </li>
  </ul>
</div>

<div class="cards">
  {{> loading }}
</div>

