.cards-inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.video-card {
  height: 330px;
  width: 430px;
  a {
    width: 100%;
    img {
      width: 100%;
    }
  }
}
.card {
  min-width: 300px;
  margin: 10px!important;
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.88);
  border: none;
  img {
    width: 100%;
  }
}
