header {
  @extend %display-flex-justify-center;
  position: fixed;
  top: 0;
  flex: 0 0 auto;
  width: 100%;
  height: $header-height;
  z-index: 1;
  background: $basic-color;
  color: $basic-text-color;
}

