.ball-clip-rotate-multiple > div {
  border-left-color: $basic-text-color;
  border-right-color: $basic-text-color;
  margin: 20px 0 0 20px;
  &:last-child {
    border-color: $basic-text-color transparent;
  }
}
