footer, header {
  display: flex;
  justify-content: center; }

section.main-section nav ul a {
  text-decoration: none;
  color: #131313; }

.sub-nav .nav-item.active {
  border-bottom: 2px solid red; }

.sub-nav .nav-item:hover:not(.active) {
  border-bottom: 2px solid white; }

.sub-nav .nav-item {
  border-bottom: 2px solid transparent; }

html, body, #body {
  height: 100%; }

html {
  overflow-y: scroll; }

#body {
  display: flex;
  flex-direction: column; }

.cards-inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }

.video-card {
  height: 330px;
  width: 430px; }
  .video-card a {
    width: 100%; }
    .video-card a img {
      width: 100%; }

.card {
  min-width: 300px;
  margin: 10px !important;
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.88);
  border: none; }
  .card img {
    width: 100%; }

footer {
  position: fixed;
  bottom: 0;
  flex: 0 0 auto;
  height: 40px;
  width: 100%;
  background: #131313;
  color: #fff; }

header {
  position: fixed;
  top: 0;
  flex: 0 0 auto;
  width: 100%;
  height: 38px;
  z-index: 1;
  background: #131313;
  color: #fff; }

.ball-clip-rotate-multiple > div {
  border-left-color: #fff;
  border-right-color: #fff;
  margin: 20px 0 0 20px; }
  .ball-clip-rotate-multiple > div:last-child {
    border-color: #fff transparent; }

main {
  padding-bottom: 40px;
  padding-left: 200px;
  padding-top: 38px; }

section.main-section {
  display: flex;
  flex: 1 0 auto; }
  section.main-section nav {
    position: fixed;
    left: 0;
    top: 38px;
    bottom: 0;
    min-width: 200px;
    background: #131313; }
    section.main-section nav ul {
      list-style: none;
      padding-left: 0; }
      section.main-section nav ul a {
        color: #fff; }
  section.main-section main {
    background: #1f1f1f;
    flex-grow: 1; }

.sub-nav {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px; }
  .sub-nav .nav a {
    cursor: pointer;
    color: white; }
    .sub-nav .nav a:hover {
      color: white;
      box-sizing: content-box; }
    .sub-nav .nav a.active {
      background: none; }
