footer, header {
  display: flex;
  justify-content: center; }

section.main-section nav ul a {
  text-decoration: none;
  color: #000; }

html, body, #body {
  height: 100%; }

#body {
  display: flex;
  flex-direction: column; }

.cards-inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }

.video-card {
  height: 330px;
  width: 430px; }
  .video-card a {
    width: 100%; }
    .video-card a img {
      width: 100%; }

.card {
  min-width: 300px;
  margin: 5px !important; }
  .card img {
    width: 100%; }

footer {
  position: fixed;
  bottom: 0;
  flex: 0 0 auto;
  height: 40px;
  width: 100%;
  background: palevioletred; }

header {
  position: fixed;
  top: 0;
  flex: 0 0 auto;
  width: 100%;
  z-index: 1;
  background: yellow; }

.ball-clip-rotate-multiple > div {
  border-left-color: #000;
  border-right-color: #000;
  margin: 20px 0 0 20px; }
  .ball-clip-rotate-multiple > div:last-child {
    border-color: #000 transparent; }

main {
  padding-bottom: 40px;
  padding-left: 200px;
  padding-top: 38px; }

section.main-section {
  display: flex;
  flex: 1 0 auto; }
  section.main-section nav {
    position: fixed;
    left: 0;
    top: 38px;
    bottom: 0;
    min-width: 200px;
    background: rosybrown; }
    section.main-section nav ul {
      list-style: none;
      padding-left: 0; }
  section.main-section main {
    background: greenyellow;
    flex-grow: 1; }
